@tailwind base;
@tailwind components;
@tailwind utilities;

/* *****boilerplate css***** */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: rgb(15,15,15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-width: min(100vw, 768px);
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

button {
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}

/* ******************************Custom CSS****************************** */
/* **********Header********** */
header {
  background-image: linear-gradient(0deg, rgb(20,20,20), rgb(40,40,40));
  inset: 0;
  display: flex;
  justify-content: space-between;
  max-height: 48px;
  z-index: 1;
}

header div:first-child {
  filter: none;
  transition: filter 250ms;
}

header div:first-child:hover,
header div:first-child:active {
  filter: drop-shadow(1px 1px 1px rgb(255, 80, 255));
}

h1 {
  text-shadow: 2px 2px 4px black;
}

[data-name="rightHeader"] {
  grid-template-columns: 1fr 34px;
  column-gap: 0.25rem;
}

/* -----Search----- */
/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

[data-name="searchInput"] {
  background-color: rgb(15,15,15);
  padding-block: 0.25rem;
  border-radius: 9999px;
  padding-inline: 2rem;
  width: min(65vw, 300px);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[data-name="searchSvg"] {
  margin-left: 0.5rem;
}

[data-name="clearBtn"] {
  justify-self: right;
  margin-right: 0.5rem;
}

[data-name="containerForm"] input,
[data-name="containerForm"] button,
[data-name="containerForm"] img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

[data-name="dropdown"] {
  width: min(65vw, 300px);
  background-image: linear-gradient(0deg, rgb(25,25,25), rgb(50,50,50));
  grid-row: 2 / span 1;
}


[data-name="errorMessage"]:focus,
[data-name="errorMessage"]:active,
[data-name="errorMessage"]:hover,
[data-name="listItem"]:focus,
[data-name="listItem"]:active,
[data-name="listItem"]:hover {
  background-color: rgb(120, 0, 120);
}

/* -----Button for unit toggler----- */
[data-name="unittoggler"] {
  min-width: 34px;
  padding-inline: 0.25rem;
  color: white;
  transform: none;
  transition: color 250ms ease-out;
}

[data-name="unittoggler"]:hover,
[data-name="unittoggler"]:active {
  color: rgb(255, 80, 255);
}

/* **********Main********** */
[data-name="main"] {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 1490px;
}

[data-visible="false"] {
  opacity: 0;
}

[data-visible="true"] {
  opacity: 1;
  transition: opacity 760ms ease-out;
}

[data-name="currentWeatherSection"] > [data-name="mainDiv"] {
  max-width: fit-content;
  column-gap: 1rem;
  align-self: center;
}

[data-name="infoContainer"] {
  border-color: rgba(255, 255, 255, 0.1);
}

[data-name="dailyForecastSection"],
[data-name="currentWeatherSection"] {
  padding-inline: 0.25rem;
}

[data-name="dailyForecastSection"] > div {
  display: grid;
  grid-template-columns: 1fr 1fr 24px;
  background-color: rgb(20, 20, 20);
  border-color: rgba(40, 40, 40);
  padding: 0.75rem;
  column-gap: 1rem;
  cursor: pointer;
  margin-block: 0.25rem;
}

[data-name="dailyForecastSection"] > section {
  display: grid;
  grid-template-columns: 1fr 24px;
  grid-template-rows: 60px 1fr;
  background-color: rgb(20, 20, 20);
  border-color: rgba(80, 80, 80, 0.25);
  margin-block: 0.25rem;
  overflow: hidden;
}

[data-name="dailyForecastSection"] > div:hover,
[data-name="dailyForecastSection"] > div:active,
[data-name="dailyForecastSection"] > section:hover,
[data-name="dailyForecastSection"] > section:active {
  background-color: rgb(40, 0, 40);
}

[data-name="summaryText"] {
  max-width: 32ch;
  text-align: center;
}

[data-collapsed="false"] { min-height: 750px }
[data-expanded="false"] { max-height: 86px; }

[data-collapsed="true"] {
  min-height: 86px;
  transition: min-height 250ms ease-out;
}

[data-expanded="true"] {
  max-height: 750px;
  transition: max-height 250ms ease-out;
}

/* *****Placeholder***** */
[data-name="placeholderText"],
[data-name="placeholderImg"],
section [data-name="placeholderDiv"] {
  color: rgb(80,60,80);
  background-color: rgb(80,60,80);
  border-radius: 0.5rem;
  border: none;
}

[data-name="placeholderDiv"] {
  min-height: 86px;
}

/* *****Footer***** */
[data-name="githubLinksDiv"] a {
  min-width: 101px;
}

/* *****Media Queries***** */
@media screen and (min-width: 375px) {
  [data-name="dailyForecastSection"],
  [data-name="currentWeatherSection"] {
    padding-inline: 4vw;
  }

  [data-name="githubLinksDiv"] {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 600px) {
  [data-name="dailyForecastSection"],
  [data-name="currentWeatherSection"] {
    padding-inline: 2rem;
  }

  [data-name="main"] {
    min-height: 1261px;
  }

  [data-name="moreInfoDiv"] {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  [data-name="extra"] {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  [data-name="header"] {
    background-image: none;
    position: inherit;
    margin-top: 1rem;
  }

  [data-name="searchInput"] {
    background-color: rgb(5, 5, 5);
  }
}