@tailwind base;
@tailwind components;
@tailwind utilities;

/* boilerplate css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(15,15,15);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  min-width: min(90vw, 768px);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding-inline: 1vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* custom css */
h1 {
  text-shadow: 2px 2px 4px black;
}

header div:hover,
header div:active {
  filter: drop-shadow(1px 1px 1px rgb(255, 180, 255));
}

[data-name="infoContainer"] {
  border-color: rgba(255, 255, 255, 0.1);
}

[data-name="dailyDiv"] {
  display: grid;
  grid-template-columns: 1fr 1fr 32px;
  background-color: #1a1a1a;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  margin-block: 1rem;
}